※数値は獲得総数を周回数で割ったものです

{% for report in reports %}
  ## {{report.name }}

  {% for col in report.columns -%}
    | {{- col -}}
  {%- endfor %} |
  {% for col in report.columns -%}
    | -- 
  {%- endfor %} |
  {% for idx, row in report.data.iterrows() -%}
    {%- for col in report.columns -%}
      | {{ row[col] }}
    {%- endfor %} |
  {% endfor %}

{% endfor %}
